<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Lista de Productos</h1>
        <ul class="list-group">
            {{#each products}}
            <li class="list-group-item">
                <h2 class="mb-1">{{this.title}}</h2>
                <p class="mb-1">{{this.description}}</p>
                <p class="mb-1">Stock: {{this.stock}}</p>
                <img class="img-thumbnail mb-2" src="{{this.thumbnail}}" alt="Thumbnail">
                <p class="fw-bold text-success">Precio: {{this.price}}</p>
            </li>
            {{/each}}
        </ul>
    </div>

    <!-- bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
